<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.user.email %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td>
          <!-- only users with edit rights can see the edit link -->
          <% if policy(restaurant).edit? %>
            <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
          <% end %>
        </td>
        <td>
          <!-- only users with destroy rights can see the destroy link -->
          <% if policy(restaurant).destroy? %>
            <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!-- when we don't have an instance to use, use the class itself. -->
<!-- makes sense here since we want to create a restaurant that doesn't exist yet -->
<% if policy(Restaurant).new? %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
